// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');

// Variables
@import 'variables';

@import 'mixins';

@import 'navbar';
@import './component_styles/items';
@import './form_styles/form.scss';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';


* {
    outline: none;
    font-family: 'Abel', sans-serif;
    color: $primary-text-color;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
  overflow: inherit;
  @include background;
}

.main-container {
    width: 1170px;
    margin: auto;
}

h3 {
    margin: 1.5em 0em 1.5em 0em;
}

