@import url(https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap);/* Background Image */

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px 10%;
  margin-bottom: 10vh;
  background-color: #131413;
}

.header * {
  background-color: #131413;
}

.header .title {
  cursor: pointer;
}

.header .left-side {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.header .left-side .title {
  cursor: pointer;
  margin-right: 40px;
}

.header .left-side .nav-links {
  list-style: none;
}

.header .left-side .nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.header .left-side .nav-links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .left-side .nav-links li a:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #E7E247;
}

.header .left-side .nav-links li:nth-child(1) {
  padding: 0px 20px 0px 0px;
}

.header button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #282b28;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header button:hover {
  background-color: #E7E247;
}

.header .router-link-exact-active {
  color: #E7E247;
}

/* Items */

.category-container {
  display: -webkit-box;
  display: flex;
  margin: 1em 0em;
}

/* Single Item */

.item-container {
  display: -webkit-box;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background: rgba(40, 43, 40, 0.5);
  padding: 1em;
  margin: 0em 1em;
}

.item-container h4 {
  margin-bottom: 1em;
}

.item-container .t {
  color: #f0c941;
}

.item-container .ct {
  color: #5ab8f4;
}

* {
  outline: none;
  font-family: "Abel", sans-serif;
  color: #F7F7F2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  overflow: inherit;
  background-image: url(/images/background-min.png?641f477980330c3d7a665151ac1e9a99);
  background-attachment: fixed;
  background-size: cover;
}

html:after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 43, 40, 0.9);
  z-index: -1;
}

.main-container {
  width: 1170px;
  margin: auto;
}

.main-container h1 {
  margin-bottom: 1em;
}

